.d-grid {
  display: grid;
}
@mixin grid-col-1 {
  display: grid;
  grid-template-columns: auto;
}
@mixin grid-col-2 {
  display: grid;
  grid-template-columns: auto auto;
}
@mixin grid-col-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
@mixin grid-col-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
@mixin grid-col-5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
@mixin grid-col-6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
@mixin grid-col-7 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
@mixin grid-col-8 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
@mixin grid-col-9 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}
@mixin grid-col-10 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
